<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jangan Lupa Beribadah~">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="">
    <title>Alphabot | Dashboard</title>
    <meta property="og:site_name" name="og:site_name" content="Alphabot | Dashboard">
    <meta property="og:title" name="og:title" content="Alphabot | Dashboard">
    <meta property="og:url" name="og:url" content="https://api-alphabot.herokuapp.com">
    <meta property="og:description" name="og:description" content="Rest Api Free for you">
     <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="shortcut icon" href="https://telegra.ph/file/9530e0cd7c93f6843d673.jpg" type="image/x-icon" />
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://api-invibot.herokapp.com">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://kit.fontawesome.com/a81368914c.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
     <link rel="stylesheet" href="https://erzacanz.github.io/simple/static/css/index.css">
     <title>Rey sekha</title>
     <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="text">
        <div class="status">
            <p>
                API STATUS: <span class="typed-text"></span
                    ><span class="cursor typing"></span>
            </p>
        </div>
        <hr />
        <div class="readdocs">
            <p>
                Read
                <a rel="noopener noreferrer" href="/api" class="docs">Docs.</a
                    >
                </p>
            </div>
        </div>
        <div class="bottom">
            <p>
                <a
                    href="https://t.me/LoLHumen"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="sosmed"
                >
                    <svg
                        class="h-6 w-6 text-white"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
                    </svg>
                    Telegram
                </a>
            </p>
        </div>
</body>
<script src="/static/js/script.js"></script>

</html>

     
</html>
